# Ignorar application.yml da aplicação
ai-processor/src/main/resources/application.yml
library-service/src/main/resources/application.yml

# Ignorar tudo que for gerado pelo build
ai-processor/target/
target/
ai-processor/ia.txt
codigo_txt.py
codigo_concatenado.txt
library-service/src/main/resources/application.yml
conceito_kafka.txt
conceito_ia.txt
conceito_arch.txt
**/credentials.json
.env