version: '3.8'

services:
  # --- O Porteiro Externo (Nginx) ---
  nginx:
    image: nginx:alpine
    container_name: logos-nginx
    restart: always
    ports:
      - "80:80"  # Porta 80 da EC2 aberta para o mundo
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api-gateway

  # --- API Gateway (Java) ---
  api-gateway:
    build: ./api-gateway
    container_name: logos-gateway
    restart: always
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - KEYCLOAK_AUTH_SERVER=${KEYCLOAK_AUTH_SERVER}
      # URLs internas do Docker
      - LIBRARY_SERVICE_URL=http://library-service:8082
      - INGESTION_API_URL=http://ingestion-service:8080
      - AI_PROCESSOR_URL=http://ai-processor:8081
    depends_on:
      - library-service
      - ai-processor

  # --- Library Service (Java) ---
  library-service:
    build: ./library-service
    container_name: logos-library
    restart: always
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SERVER_PORT=8082
      - KEYCLOAK_AUTH_SERVER=${KEYCLOAK_AUTH_SERVER}
      - DB_URL=${DB_URL}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP}
      - SPRING_KAFKA_PROPERTIES_SECURITY_PROTOCOL=SASL_SSL
      - SPRING_KAFKA_PROPERTIES_SASL_MECHANISM=PLAIN
      - SPRING_KAFKA_PROPERTIES_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username='${KAFKA_USER}' password='${KAFKA_PASS}';
      - GCP_BUCKET_NAME=${GCP_BUCKET_NAME}
      - GCP_CREDENTIALS_JSON=${GCP_CREDENTIALS_JSON}
      - GCP_CREDENTIALS_LOCATION=${GCP_CREDENTIALS_LOCATION}

  # --- Ingestion Service (Go) ---
  ingestion-service:
    build: ./ingestion-service
    container_name: logos-ingestion
    restart: always
    environment:
      - GIN_MODE=release
      - PORT=8080
      - KAFKA_BROKER=${KAFKA_BOOTSTRAP} 
      - KAFKA_USER=${KAFKA_USER}
      - KAFKA_PASS=${KAFKA_PASS}
      - GCP_BUCKET_NAME=${GCP_BUCKET_NAME}
      - GCP_CREDENTIALS_JSON=${GCP_CREDENTIALS_JSON}
  ai-processor:
    build: ./ai-processor
    container_name: logos-ai
    restart: always
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SERVER_PORT=8081
      - SPRING_DATASOURCE_URL=${DB_URL}
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASS}
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=${KEYCLOAK_AUTH_SERVER}
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=${KEYCLOAK_AUTH_SERVER}/protocol/openid-connect/certs
      - AI_OPENAI_API_KEY=${OPENAI_API_KEY}
      - AI_PINECONE_API_KEY=${PINECONE_API_KEY}
      - AI_PINECONE_BASE_URL=${PINECONE_HOST}
      - AI_PINECONE_ENVIRONMENT=${PINECONE_ENV}
      - SPRING_DATA_REDIS_HOST=${REDIS_HOST}
      - SPRING_DATA_REDIS_PORT=${REDIS_PORT}
      - SPRING_DATA_REDIS_PASSWORD=${REDIS_PASS}
      - SPRING_DATA_REDIS_SSL_ENABLED=true
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP}
      - SPRING_KAFKA_PROPERTIES_SECURITY_PROTOCOL=SASL_SSL
      - SPRING_KAFKA_PROPERTIES_SASL_MECHANISM=PLAIN
      - SPRING_KAFKA_PROPERTIES_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username='${KAFKA_USER}' password='${KAFKA_PASS}';
      - SPRING_CLOUD_GCP_CREDENTIALS_LOCATION=file:/tmp/credentials.json
      - GCP_STORAGE_BUCKET_NAME=${GCP_BUCKET_NAME}
      - GCP_CREDENTIALS_JSON=${GCP_CREDENTIALS_JSON}