server:
  port: 8000

spring:
  application:
    name: api-gateway
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_AUTH_SERVER}
          jwk-set-uri: ${KEYCLOAK_AUTH_SERVER}/protocol/openid-connect/certs
  threads:
    virtual:
      enabled: true

  cloud:
    gateway:
      # globalcors:
      #   cors-configurations:
      #     '[/**]':
      #       allowedOrigins: "http://localhost:5173"
      #       allowedMethods: "*"
      #       allowedHeaders: "*"
      #       allowCredentials: true

      routes:
        - id: library-service
          uri: ${LIBRARY_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/library/**, /api/galaxy/**, /api/users/**, /api/public/**
        
        - id: ingestion-api
          uri: ${INGESTION_API_URL:http://localhost:8080}
          predicates:
            - Path=/api/ingestion/**

        - id: ai-processor
          uri: ${AI_PROCESSOR_URL:http://localhost:8081}
          predicates:
            - Path=/api/ai/**

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO