server:
  port: 8000

spring:
  application:
    name: api-gateway
  
  # Configuração de Segurança (Validar Token no Keycloak)
  security:
    oauth2:
      resourceserver:
        jwt:
          # A URL DA NUVEM
          issuer-uri: https://logos-auth-665606141998.us-central1.run.app/realms/logos-realm
          jwk-set-uri: https://logos-auth-665606141998.us-central1.run.app/realms/logos-realm/protocol/openid-connect/certs

  # Roteamento Dinâmico
  cloud:
    gateway:
      # Configuração Global de CORS (Para o Frontend não chorar)
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173" # Seu Frontend
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        # Rota 1: Library Service (Leitura)
        # Frontend chama: localhost:8000/api/library/books
        # Gateway encaminha para: localhost:8082/api/library/books
        - id: library-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/library/**, /api/galaxy/**, /api/users/**
        
        # Rota 2: Ingestion API (Escrita)
        - id: ingestion-api
          uri: http://localhost:8080
          predicates:
            - Path=/api/ingestion/**

        # Rota do AI Processor
        - id: ai-processor
          uri: http://localhost:8081
          predicates:
            - Path=/api/ai/**

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO


management:
  tracing:
    sampling:
      probability: 1.0 # Em produção seria 0.1, mas em Dev queremos ver TUDO
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"